<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="create(form)" method="post">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input ngModel type="email" name="name"></ion-input>
    </ion-item>



    <ion-button type="submit" expand="full" color="primary">Crear</ion-button>
  </form>
</ion-content>